<div class="container">
    <div class="row">
        <h3>Lugares favoritos de la comunidad MarMont</h3>
        <code>Estos son lugares que otros MarMontañeros agregaron a sus lugares. Haz click sobre el nombre para acceder a la página de ése lugar y ver comentarios de la comunidad, además de la información del clima.</code>
        <hr style="width: 100%;">
        {{#each places}}
        <div class="row card card-body p-2 mt-2 mb-3 mx-1">
            <a href="/lugares-comunes/{{name}}">
                <h5 class="my-1 ml-2">{{name}}</h5>
            </a>
        </div>
        {{/each}}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/weather-data.js"></script>
<script src="/javascripts/weather-user.js"></script>