<div class="container">
    <div class="row">

        {{!-- Modal --}}
        <div class="modal fade" id="newPlaceForm" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newPlaceForm">¿Cómo quieres llamar a este lugar?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-place-form" method="PUT" action="/area-personal/mis-lugares">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Info del clima --}}
        <div class="col-12" id="info-place">
            <h4>¡Bienvenido a MarMont!</h4>
            <p class="mb-0"><small>Dedicado a deportistas y aventureros.</small>
                <br>Busca un lugar por nombre o pincha directamente en el mapa para ver infomacion meteorológica
                detallada.
                <br>Si además accedes con tu cuenta puedes guardar el sitio como favorito y que aparezca en
                <code>Mis lugares</code>.
            </p>
        </div>

        {{!-- Botón para agregar el lugar como favorito --}}
        <div class="col-12 d-flex justify-content-end mb-5">
            {{#if user}}
            <div id="add-place-button">
            </div>
            {{/if}}
        </div>

        <div class="col-12">
            <form id="find-location">
                <div class="input-group">

                    {{!-- formulario de búsqueda de lugar --}}
                    <input name="location" type="text" class="form-control mb-3"
                        placeholder="Escribe el nombre de un lugar">
                    <div class="input-group-append mb-3">
                        <button class="btn btn-outline-secondary">Buscar</button>
                    </div>

                    {{!-- mapa --}}
                    <figure id="map"></figure>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/map-styles.js"></script>
<script src="/javascripts/map-configs.js"></script>
<script src="/javascripts/weather-data.js"></script>
<script src="/javascripts/weather-home.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleAPI}}&callback=initMap"></script>