<div class="container">
    <div class="row">

        <div class="col-12">
            <div class="row flex-nowrap mb-5" id="info-place">
            </div>
        </div>

        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Escribe el nombre de un lugar">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Busca</button>
                </div>
            </div>
            <figure id="map"></figure>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/map-styles.js"></script>
<script src="/javascripts/map-configs.js"></script>
<script src="/javascripts/weather-config.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleAPI}}&callback=initMap"></script>