<div class="container">
    <div class="row">
        <div class="col">
            <h4>favoritos de {{username}}</h4>
            <a href="/mi-perfil/editar">Editar mi perfil</a>
            <figure>
                <img src={{avatar}} alt="avatar">
            </figure>
          
            {{#if role}}
            <a href="/mi-perfil/favoritos" class="btn btn-dark">Eliminar Usuario</a>
            {{/if}}
         
        </div>
    </div>
</div>