<div class="container">
    {{#with user}}
    <div class="row">
        <div class="col">
            <h4>Lugares de {{username}}</h4>
            <a href="/area-personal/editar">Editar mi perfil</a>
            <ul>
                {{#each favourites}}
                <li>
                    <a href="/api/{{this}}">{{this}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/with}}
</div>