<div class="container">
    <div class="row">
        <div class="col">
            <h4>Lugares de {{username}}</h4>
            <a href="/area-personal/editar">Editar mi perfil</a>
            <hr>
            {{#each favourites}}
            <h5>{{name}}</h5>
            <div class="row flex-nowrap mb-3">
                <div class="d-flex justify-content-end" style="width: 12%;">
                    <table class="table table-sm" id="weather-head">
                        <thead>
                            <tr>
                                <th class="text-center pb-3">
                                    <small>Powered by:</small><br><img
                                        src="https://stormglass.io/wp-content/uploads/2019/05/Stormglass-Blue-circled-5.svg"
                                        alt="stormglass-logo" style="width: 88%; filter: opacity(0.8);">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Temperatura (ºC)</th>
                            </tr>
                            <tr>
                                <th>Nubosidad (%)</th>
                            </tr>
                            <tr>
                                <th>Precipit. (l/m²)</th>
                            </tr>
                            <tr>
                                <th>Espesor nieve (m)</th>
                            </tr>
                            <tr>
                                <th>Temp. agua (ºC)</th>
                            </tr>
                            <tr>
                                <th>Dirección olas</th>
                            </tr>
                            <tr>
                                <th>Ola (m)</th>
                            </tr>
                            <tr>
                                <th>Período olas (s)</th>
                            </tr>
                            <tr>
                                <th>Dirección viento</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="px-0" style="width: 86%; overflow-x: scroll;">
                    <table class="table table-sm" id="weather-body" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th style="background-color: rgb(243, 243, 243);">M<br>16<br>0h</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color: hsl(267,100%,60%);">-2</td>

                                {{!-- {{> weatherCard }} --}}
                </div>
            </div>
            {{/each}}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/javascripts/weather-data.js"></script>
        <script src="/javascripts/weather-user.js"></script>